.getCareerBG {
  width: 100%;
  background-image: url(../../../assets/GetCareer/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;

  .getCareer {
    display: flex;
    justify-content: space-between;
    padding: 140px 0;

    .getLeft {
      width: 38%;
      @media (max-width: 576px) {
        width: 100%;
      }
      .leftTitle {
        // display: flex;
        // flex-wrap: wrap;
        // gap: 10px;
        .subtitle {
          display: flex;
          gap: 15px;
          @media (max-width: 576px) {
            width: 100%;
            justify-content: center;
          }
        }
        @media (max-width: 576px) {
          width: 100%;
          text-align: center;
          justify-content: center;
        }
        h3 {
          font-family: "Barlow";
          font-style: normal;
          font-weight: 700;
          font-size: 64px;
          line-height: 80px;
          color: #ffffff;
          display: flex;
          @media (max-width: 576px) {
            font-size: 49px;
            display: block;
          }
        }
        .careerH {
          color: #fa541c;
          margin-left: 5px;
        }
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #919eab;
          margin-top: 24px;
        }
      }
      .searvhBlock {
        width: 100%;
        padding: 8px;
        background-color: #ffffff;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 48px;
        div {
          height: 95%;
        }
        @media (max-width: 576px) {
          width: 100%;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 30px;
          padding: 20px;
          div {
            width: 95%;
          }
        }
        .searchInput {
          display: flex;
          gap: 10px;
        }
        .locationInput {
          display: flex;
          gap: 10px;
        }
        img {
          height: 21px;
        }
        input {
          height: 21px;
          // margin-left: -25px;
          outline: none;
          border: none;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          color: #919eab;
          width: 140px;
        }
        button {
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fa541c;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          p {
            display: none;
            @media (max-width: 576px) {
              display: block;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 26px;
              color: #ffffff;
              cursor: pointer;
            }
          }
          @media (max-width: 576px) {
            width: 100%;
          }
        }
      }
      .socialBlock {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 40px;
        margin: 65px 0 96px 0;
        div {
          display: flex;
          gap: 40px;
          @media (max-width: 576px) {
            margin: 0 auto;
            gap: 110px;
          }
        }
        @media (max-width: 576px) {
          flex-direction: column;
        }
      }
      .ratingBlock {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media (max-width: 576px) {
          width: 100%;
          flex-wrap: wrap;
        }

        .rating {
          height: 66px;
          text-align: center;
          width: fit-content;
          @media (max-width: 576px) {
            width: fit-content;
          }

          h3 {
            font-family: "Barlow";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: #ffffff;
          }
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: #ffffff;
            opacity: 0.48;
          }
        }
      }
    }
    .getRight {
      width: 50%;
      display: flex;
      @media (max-width: 576px) {
        display: none;
      }
      img {
        width: 100%;
        margin: auto 0;
      }
    }
  }
}
