
.wrapper {
    background-color: var(--background-color);
  .all_tegs {
    padding: 180px 0 100px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .left {
      display: flex;
      width: 60%;
    }
    .right {
      width: 30%;
      @media (max-width: 576px){
        display: none;
      }
    }
  }
}
