.all_tegs{ 
    display: flex;
    width: 100%;
    justify-content: space-around;
    
    .left{ 
        display: flex;
        width: 60%;
    }
    .right{ 
        width: 30%;
    }
}
.wrapper{ 
    background-color: var(--background-color);
    color: var(--text-colorP);
    color: var(--text-colorH);
}