/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html[data-theme="dark"] {
  --button-text-color: #ffffff;
  --text-colorH: #ffffff;
  --text-colorP: #919eab;
  --button-background-color: #4e005c;
  --button-border-color: #ba8fc2;

  --background-color: #161c24;
  --backgroun-color-grey: #a6b2c01d;
  --icon-color: #ba8fc2;
}

html[data-theme="light"] {
  --button-text-color: #252525;
  --text-colorP: #212b36;
  --text-colorH: #211b36;
  --button-background-color: #f9d4ff;
  --button-border-color: #4e005c;

  --background-color: #ffffff;
  --backgroun-color-grey: #ffffff;

  --icon-color: #4e005c;
}
