.topCompanies {
  background-color: var(--background-color);
  text-align: center;
  padding: 80px 0;
  
  h2 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: var(--text-colorH);
  }
  .top {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
   
    img {
      cursor: pointer;
    }
    .allComp {
      display: flex !important;
      justify-content: space-around;
      text-align: center;
      
    }
    :global {
      .slick-slider {
        width: 80%;
        display: block;
        text-align: center;
        .slick-prev:before{
          content: url(../../../assets/TopCompanies/prev.svg);
        }
        .slick-next:before{
          content: url(../../../assets/TopCompanies/next.svg);
        }
      }
    }
  }
}
